@import "../../../assets/mixins/mixins.scss";
.health-container {
  display: block;
}
.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-group {
  height: 48px;
}
.filter-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.filter-input {
  width: 150px;
  height: 46px;
  padding: 8px 12px;
  border-radius: 0.5rem;
  border: 1px solid #d3d3d3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 6px),
    calc(100% - 15px) calc(1em + 6px), calc(100% - 2.5em) 0.9em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.brand-overview {
  @include boxWithShadow();
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-title {
  @include secondaryFontBold();
  font-size: 1.5rem;
  color: $text-color;
  display: flex;
}
.brand-dqscores {
  display: flex;
  gap: 1rem;
}
.score-list {
  @include brandScores();
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.metric-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 2px 0 4px rgba($color: #000000, $alpha: 0.1);
}
.score-details {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: calc(100% - 50px);
  padding: 0.675rem;
}
.brand-title {
  @include secondaryFontBold();
  font-size: 1.5rem;
  color: $primary-color;
  line-height: 1;
}
.brand-subtitle {
  @include secondaryFont();
  font-size: 0.875rem;
  color: rgba($color: #333333, $alpha: 0.6);
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.tab-container {
  @include boxWithShadow();
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: $white;
}

// Tab content styles

.overview-box {
  border: 1px solid #e0e3e8;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.basemedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  .score-title {
    @include secondaryFontBold();
    font-size: 0.875rem;
    color: $text-color;
    &small {
      display: flex;
      flex: 1;
    }
  }
  .brand-title {
    color: $text-color;
    font-size: 1.5rem;
  }
}
.score-name {
  display: flex;
  flex-direction: column;
}
.box-title {
  @include secondaryFontBold();
  font-size: 0.875rem;
  color: $text-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  & small {
    @include secondaryFont();
    display: flex;
    flex: 1;
  }
}
.score-table {
  border: none;
  p {
    margin-bottom: 0.5rem;
    font-size: 0.815rem;
  }
  .score-subscores {
    @include secondaryFontBold;
    display: flex;
    font-size: 0.815rem;
    color: $text-color;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    padding-left: 0.25rem;
  }
}
.percentile-score {
  @include secondaryFontBold();
  color: $primary-color;
  font-size: 1rem;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.score-diff {
  @include secondaryFont();
  display: flex;
  position: absolute;
  bottom: -4px;
  right: 0;
  align-items: center;
  gap: 4px;
}
