$primary-color: #0d47a0;
$primary-color-hover: #093373;
$secondary-blue: #93cfff;
$background-color: #f0f3f8;
$white: #fff;
$text-color: #242526;
$text-dark-color: #072148;
$table-stroke-color: #dfdfdf;
$stroke-color: #949494;
$input-stroke: #e4e8e9;
$text-warning: #ed8b00;
$text-danger: #cc3201;
$text-success: #339900;
$tooltip-bg: #0d47a0;
$tooltip-color: #ffffff;
