@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
font-family: 'droid_sansbold';
src: local("DroidSans-Bold-webfont.ttf"),
    url("../../assets/fonts/DroidSans-Bold-webfont.ttf") format("truetype");
    font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'droid_sansregular';
src: local("DroidSans-webfont.ttf"),
    url("../../assets/fonts/DroidSans-webfont.ttf") format("truetype");
    font-weight: normal;
font-style: normal;
}
@mixin primeFont() {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
@mixin secondaryFont() {
    font-family: 'droid_sansregular', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@mixin secondaryFontBold() {
    font-family: 'droid_sansbold', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}