@import "../../assets/mixins/mixins.scss";

.subtitle {
  @include secondaryFontBold();
  display: flex;
  justify-content: flex-start;
  color: $text-color;
  padding-bottom: 1rem;
}

.insights-filter {
  @include boxWithShadow();
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1.5rem;
}
.insights-project-filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  .range-filter {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    .form-label {
      white-space: nowrap;
    }
  }

  .btn-primary {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.scores-charts {
  @include boxWithShadow();
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
.chart-title {
  @include secondaryFontBold();
  font-size: 0.875rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
