@import "../../assets/mixins/mixins.scss";
.chart-group {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.chart-list {
  @include boxWithShadow();
  width: calc(50% - 1rem);
}
.dq-score-bubble {
  @include boxWithShadow();
  width: 100%;
}
.project-filter {
  background-color: #f0f3f7;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  .range-filter {
    background-color: $white;
    padding: 0.65rem;
    border-radius: 6px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    flex: 0 0 auto;
    border: 1px solid rgba(0, 0, 0, 15%);
    .form-label {
      white-space: nowrap;
    }
  }
}
