@import "../assets/mixins/mixins.scss";
.top-triangle {
  display: block;
  border-style: solid;
  border-width: 180px 280px 180px 280px;
  border-top-color: $secondary-blue;
  border-left-color: $secondary-blue;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.bottom-triangle {
  display: block;
  border-style: solid;
  border-width: 180px 280px 180px 280px;
  border-top-color: transparent;
  border-left-color: $primary-color;
  border-right-color: transparent;
  border-bottom-color: $primary-color;
  position: absolute;
  bottom: 0;
  left: 0;
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-component {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
}
.login-form-container {
  background-color: $white;
  border-radius: 2rem;
  box-shadow: 3px 0 26px rgba(37, 5, 7, 0.2);
  margin: 50px 30px 50px 110px;
  padding: 90px 112px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 580px;
}
.login-title {
  @include secondaryFont();
  font-size: 2rem;
  font-weight: 400;
  color: $text-color;
  padding-bottom: 62px;
}
.orOption {
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 100%;
  position: relative;
}
.orOption:before {
  content: "";
  width: 42%;
  height: 1px;
  background-color: #9fa7b7;
  position: absolute;
  top: 11px;
  left: 0;
}
.orOption:after {
  content: "";
  width: 42%;
  height: 1px;
  background-color: #9fa7b7;
  position: absolute;
  top: 11px;
  right: 0;
}
.kie-logo {
  position: absolute;
  bottom: 0px;
  left: 50px;
  display: block;
  width: 289px;
  height: 109px;
  border-radius: 4px;
}
