@import "../../assets/mixins/mixins.scss";

.settings-title {
  @include secondaryFontBold();
  color: $text-color;
  display: block;
  border-bottom: 1px solid #d9dbdf;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
.inputRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  & label {
    @media (min-width: 1280px) {
      width: 100px;
    }
  }
  & input {
    border-color: #e4e8e9;
    &::placeholder {
      color: #bfc4c6;
    }
  }
}
