@import "../../assets/mixins/mixins.scss";
.sidebar-container {
  width: calc(100% - 1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #072148;
  min-height: calc(100vh - 86px);
  margin-right: 1rem;
}
.side-nav {
  background-color: $white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  color: $text-color;
  &:first-child {
    margin-top: 30px;
  }
}
.sidenav-icon {
  font-size: 28px;
  color: $text-color;
}
.sidenav-icon-img {
  width: 28px;
  height: 28px;
  color: $text-color;
}
