@import "../../assets/mixins/mixins.scss";

.analytics-filter {
  @include boxWithShadow();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.export-btn-container {
  display: flex;
  position: relative;
}
.filter-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.save-table-btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}
.form-control.weights-input {
  width: 120px;
}
.analytics-table {
  & tr:first-child {
    @include secondaryFontBold();
    background-color: $white;
    & span {
      color: $text-color !important;
    }
  }
}
.filter-btn {
  position: relative;
  .filter-table-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 1rem;
  }
}
