@import "./assets/mixins/mixins.scss";

body {
  @include secondaryFont();
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-size: 0.875rem;
  line-height: 22px;
}
p {
  @include secondaryFont();
  line-height: 1.25;
  color: $text-color;
  margin-bottom: 1rem;
}
table {
  border: 1px solid #949494;
  border-radius: 0.5rem;
}
table thead {
  @include secondaryFontBold();
  border-radius: 8px 8px 0 0;
}
fieldset,
legend {
  all: revert;
  border-radius: 6px;
  border-color: #bfbfbf;
  background-color: #f5f7fb;
  border-width: 1px;
  padding: 0;
}
legend {
  @include secondaryFontBold();
  background-color: transparent;
  color: $primary-color;
  font-size: 1rem;
  margin-left: 10px;
  padding: 0 3px;
}
input[type="checkbox"] {
  border: 1px solid $stroke-color;
  width: 18px;
  height: 18px;
}
.success-color {
  background-color: $text-success;
  color: $white;
  padding: 0 3px;
  border-radius: 3px;
}
.warning-color {
  background-color: $text-warning;
  color: $white;
  padding: 0 3px;
  border-radius: 3px;
}
.danger-color {
  background-color: $text-danger;
  color: $white;
  padding: 0 3px;
  border-radius: 3px;
}

// Bootstrap reset styles
.form-control:focus {
  border-color: #9fa7b7;
  box-shadow: none;
}
.btn:active.btn-primary,
.btn.active.btn-primary {
  background-color: $primary-color;
}
.form-label {
  margin-bottom: 0.325rem;
  font-size: 14px;
  line-height: 18px;
}
.form-control {
  border: 1px solid #9fa7b7;
  width: 100%;
  max-width: 358px;
  height: 42px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 12px;
}
.form-select {
  width: 100%;
  max-width: 358px;
}
.btn-primary {
  background-color: $primary-color;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover {
    background-color: $primary-color-hover;
  }
}
.page-title {
  @include pageTitle();
}
.Select-input {
  width: 330px;
  height: 46px;
  padding: 8px 12px;
  border-radius: 0.5rem;
  border: 1px solid #d3d3d3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 6px),
    calc(100% - 15px) calc(1em + 6px), calc(100% - 2.5em) 0.9em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.footer-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
  gap: 1rem;
}
.graph-title {
  @include secondaryFontBold();
  font-size: 0.875rem;
  color: $text-color;
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: center;
}
.table-responsive {
  max-height: calc(100vh - 150px);
  border-color: rgba(0, 0, 0, 30%);
  overflow: auto;
  border-radius: 0.5rem;
  thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    // border-radius: 8px 8px 0 0;
    border-color: rgba(0, 0, 0, 30%);
    // tr {
    //   th {
    //     &:first-child {
    //       border-radius: 8px 0 0 0;
    //     }
    //     &:last-child {
    //       border-radius: 0 8px 0 0;
    //     }
    //   }
    // }
  }
}
.insights-table {
  & tr:first-child {
    @include secondaryFontBold();
    background-color: $white;
    position: sticky;
    top: 0;
  }
}
.export-btn {
  display: flex;
}
.apexcharts-tooltip-title {
  @include secondaryFontBold;
}
.childrenContainer {
  display: block;
  padding: 0;
  margin: 0;
}

#tooltip-top > .tooltip-inner {
  @include secondaryFontBold();
  font-size: 0.875rem;
  background: rgba(9, 51, 115, 100%);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 30%);
}

.tooltip-container {
  --bs-tooltip-bg: $primary-color;
  --bs-emphasis-color: $primary-color;
  --bs-tooltip-opacity: 1;
}

#tooltip-top > .tooltip-arrow {
}
.pagination-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1rem;
}
.page-link.active,
.active > .page-link {
  @include secondaryFontBold();
  background-color: $primary-color;
  font-size: 0.875rem;
}
.page-link {
  @include secondaryFont();
  color: $primary-color;
}
Table thead {
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
}

.blue-color {
  border-left: 3px solid #0d6efd;
}
.green-color {
  border-left: 3px solid #008085;
}
.purple-color {
  border-left: 3px solid #7952b3;
}
.orange-color {
  border-left: 3px solid #ff8225;
}
